{
  "extends": "@medic",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "ignorePatterns": ["docs/"],
  "rules": {
    "max-len": ["error", 200, { "ignoreStrings": true, "ignoreComments": true }],
    "no-console": "off",
    "guard-for-in": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true, "avoidEscape": true }]
  },
  "globals": {
    "window": true
  }
}
