{
  "coreVersion": "3.13.0",
  "user": "user_contact_id",
  "subject": "patient_id",
  
  "docs": [
    {
      "_id": "patient_id",
      "type": "person",
      "name": "Patient Name",
      "role": "patient",
      "date_of_birth": "1970-07-09",
      "sex": "female",
      "reported_date": 1550762498368,
      "parent": {
        "_id": "family_id",
        "parent": {
          "_id": "chw_area_id",
          "parent": {
            "_id": "supervisor_area_id"
          }
        }
      }
    },

    {
      "_id": "user_contact_id",
      "name": "CHW",
      "type": "person",
      "reported_date": 1550761498368,
      "parent": {
        "_id": "chw_area_id",
        "parent": {
          "_id": "supervisor_area_id"
        },
        "contact": {
          "_id": "chw_area_contact_id",
          "parent": {
            "_id": "chw_area_id",
            "parent": {
              "_id": "district_id"
            }
          }
        }
      }
    }
  ]
}